<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>

<div class="show-box" th:fragment="show-box">
    <div th:if="${show != null}">
        <h1 th:text="${show.film.title}"></h1>
        <span th:text="${show.hall.name}"></span>
        (<span th:text="${show.seats}"></span>/<span th:text="${show.hall.seats}"></span>) -
        <span th:text="${#temporals.format(show.time, 'HH:mm dd-MM')}"></span>
        <br />
        <span th:text="${show.film.summary}"></span>
    </div>

    <div th:if="${show == null}">
        <h1>Sorry, we couldn't find that showing! :(</h1>
    </div>
</div>

<div class="show-table" th:fragment="shows-table">
    <div th:if="${not #lists.isEmpty(shows)}">
        <table>
            <tr>
                <th>Time</th>
                <th>Location</th>
                <th>Film</th>
                <th>Seats</th>
            </tr>

            <tr class="showrow" th:each="show : ${shows}" th:if="${show != null}">
                <td><a th:href="@{/show(id=${show.id})}"><span th:text="${#temporals.format(show.time, 'HH:mm dd-MM-yyyy')}"></span></a></td>
                <td><a th:href="@{/hall(id=${show.hall.id})}"><span th:text="${show.hall.name}"></span></a></td>
                <td><a th:href="@{/film(id=${show.film.id})}"><span th:text="${show.film.title}"></span></a></td>
                <td><span th:text="${show.seats}"></span>/<span th:text="${show.hall.seats}"></span></td>

            </tr>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(shows)}">
        <h1>Sorry, no shows found! :(</h1>
    </div>
</div>

</body>
</html>