<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>test</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">test</div>

<!--page <p th:text="#{test.test}"/>-->

<span id="jumbotime" th:if="${time != null}" th:text="${time}">></span>

<div th:replace="fragments/film :: films-table"></div>

<div th:replace="fragments/footer :: footer">test</div>
</body>
</html>