<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show View</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">test</div>
<br/>

<div th:replace="fragments/show :: show-box"/>

<br/>
<div th:replace="fragments/footer :: footer">test</div>
</body>
</html>