<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>

<div th:fragment="header" class="navbar navbar-fixed-top" style=background:blue">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">My project</a>
        </div>
        <div class="navbar-collapse collapse">
            NAVBAR
        </div>
    </div>
</div>

</body>
</html>